[submodule "dependencies/toml++"]
	path = dependencies/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "dependencies/phake"]
	path = dependencies/phake
	url = https://github.com/phiwen96/phake.git
